{% extends '@SyliusAdmin/shared/layout/base.html.twig' %}

{% block title %}{{ 'upsell.ui.new_offer'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
    {% include '@SyliusAdmin/shared/crud/common/sidebar.html.twig' %}

    <div class="page-wrapper">
        {% include '@SyliusAdmin/shared/crud/common/navbar.html.twig' %}

        {% include '@SyliusAdmin/shared/crud/common/content/flashes.html.twig' %}

        <div class="page-header" data-sticky-header>
            <div class="container-xl">
                <ol class="breadcrumb" aria-label="breadcrumbs">
                    <li class="breadcrumb-item"><a href="{{ path('sylius_admin_dashboard') }}">{{ 'sylius.ui.dashboard'|trans }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('upsell_admin_offer_index') }}">{{ 'upsell.ui.upsell_offers'|trans }}</a></li>
                    <li class="breadcrumb-item active">{{ 'sylius.ui.new'|trans }}</li>
                </ol>
                <div class="row mt-3 row-gap-2">
                    <div class="col-12 col-md">
                        <h1 class="page-title">{{ 'upsell.ui.new_offer'|trans }}</h1>
                    </div>
                    <div class="col-12 col-md-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{{ path('upsell_admin_offer_index') }}" class="btn btn">{{ 'sylius.ui.back'|trans }}</a>
                            <button type="submit" form="upsell_offer_form" class="btn btn-primary">{{ 'sylius.ui.create'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                {% form_theme form '@SyliusAdmin/shared/form_theme.html.twig' %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'upsell_offer_form'}}) }}
                <div class="row row-cards">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'upsell.ui.offer_details'|trans }}</h3>
                            </div>
                            <div class="card-body">
                                {{ form_row(form.name) }}
                                {{ form_row(form.enabled) }}
                                {{ form_row(form.triggerProduct) }}
                                {{ form_row(form.offerProduct) }}
                                {{ form_row(form.discountPercent) }}
                                {{ form_row(form.priority) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'upsell.ui.display_copy'|trans }}</h3>
                            </div>
                            <div class="card-body">
                                {{ form_row(form.headline) }}
                                {{ form_row(form.body) }}
                                {{ form_row(form.ctaLabel) }}
                                {{ form_row(form.declineLabel) }}
                            </div>
                        </div>
                        <div class="card mt-3">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'upsell.ui.scheduling'|trans }}</h3>
                            </div>
                            <div class="card-body">
                                {{ form_row(form.startsAt) }}
                                {{ form_row(form.endsAt) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        {% include '@SyliusAdmin/shared/crud/common/content/footer.html.twig' %}
    </div>
{% endblock %}
